<div class="babout"></div>
<section class="about">
	<h1 id="about">about</h1>
	<div class="col-12">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore animi numquam tempora libero, inventore eligendi id rerum veniam. Ratione voluptates non iure, vitae saepe accusantium officiis sunt recusandae nulla deserunt!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ullam doloribus voluptas nisi, excepturi nemo perspiciatis dolores quibusdam consectetur, optio quidem quam qui explicabo, omnis voluptatum reiciendis. Quis, cupiditate, error.</p>
	</div>
</section>
<div id="aboutend"></div>