<nav class="hamburger">
			<i class="fa fa-bars fa-2x"></i>
		</nav>
<aside class="navigatie">
		<nav>

	<ul class="zoek">
		<h3>Navigeer</h3>
		<li>
			<a href="{{'/index.html/#home'}}">
				Home
				<i class="fa fa-home"></i>
			</a>
		</li>
		<li>
			<a href="{{'/index.html/#about'}}">
				About
				<i class="fa fa-info"></i>
			</a>
		</li>
		<li>
			<a href="{{'/index.html/#register'}}">
				Register 
				
				<i class="fa fa-pencil"></i>
			</a>
		</li>
	
		<li>
			<a href="{{'/index.html/#contact'}}">
				Contact
				<i class="fa fa-address-card-o"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/action.html">
				Browse
				<i class="fa fa-map-marker"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/myprofile.html">
				Mijn Profiel
				 
			<i class="fa fa-user"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/activities.html">
				Opgeslagen activiteiten
				 <i class="fa fa-user"></i>
			</a>
		</li>
		<li>
			<a href="/_pages/activities.html">
				Opgeslagen profielen
				 <i class="fa fa-list"></i>
			</a>
		</li>
		<li>
			<a href="">
				Uitloggen
				<i class="uitloggen fa fa-sign-out"></i>
			</a>
		</li>
	</ul>
		</nav>
</aside>

<header>
	
</header>