<div class="bregister"></div>
<section class="register">
<h1 id="register">Registreren</h1>
<p class="col-12">Nog geen gebruiker? Aarzel niet om je te registreren en word deel van een geweldige community!</p>
<form action="" class="form_register">
	<label for="reguser" >Username:</label>
	<input type="text" name="reguser" placeholder="Gebruikersnaam" >
	<label for="email" >Email-adres:</label>
	<input type="text" name="email" placeholder="Email">
	<label for="regpass" >Wachtwoord:</label>
	<input type="pass" name="regpass" placeholder="Wachtwoord">
	<label for="reregpass">Re-Wachtwoord:</label>
	<input type="text" name="reregpass" placeholder="Wachtwoord" >
	<button class="btn" id="regreg"><a href="#home">Registreer</a></button>
</form>
</section>
