<section>
<h1 id="register">register</h1>
<p class="col-12">Nog geen gebruiker? Aarzel niet om je te registreren en word deel van een geweldige community!</p>
<form action="">
	<label for="reguser" class="col-12">Username:</label>
	<input type="text" name="reguser" placeholder="Gebruikersnaam" class="col-12">
	<label for="email" class="col-12">Email-adres:</label>
	<input type="text" name="email" placeholder="Email" class="col-12">
	<label for="regpass" class="col-12">Wachtwoord:</label>
	<input type="pass" name="regpass" placeholder="Wachtwoord" class="col-12">
	<label for="reregpass" class="col-12">Re-Wachtwoord:</label>
	<input type="text" name="reregpass" placeholder="Wachtwoord" class="col-12">
	<input type="submit" name="registreer" value="Registreer">
</form>
</section>