<script src="{{'/js/jquery-3.1.1.min.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/underscore.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/waypoint/lib/jquery.waypoints.min.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/waypoint.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/main.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/models.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/services.js' |  'prepend: site.baseurl'}}"></script>
<script src="{{'/js/utils.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/helpers.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/smoothscroll.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/parallax.js'| 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/navigation.js' | 'prepend: site.baseurl'}}"></script>
<script src="{{'/js/map.js' | 'prepend: site.baseurl'}}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgvRb0TRvSNxsMAkjfQbJyoUkY-OBqTo&callback=initMap">
</script>