form{
	input,label,select{
		width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
		color: $blauw;
		font-size: 1rem;
	}

	input,select{

		border: 2px solid $blauw;
		background-color: white;
		padding: 6px 12px;
	}
}

.form_home{
	margin-left: 10%;
	width: 80%;
}


.form_action{
	margin-left: 10%;
	width: 80%;
	label{
		margin: 0;
		width: 46vw;
	}

	.straatnaam{
		width: 43vw;
	}

	.nummer{
		width:23vw;
		float: right;
	}

	.tijd{
		width: 43vw;
		float: left;
	}

	.rechts{
		float: right;
		width: 23vw;
	}

	#tijd{
		
		margin: 0;
	}

	#tijd>label{
		margin: 0;
	}

	.herhaling{
		display: block;
	}

	.btn{
		color: white;
	}
}

#bestandkiezen{
	border:0;
	margin: 0;
	padding: 0;
}