$columns: 12;
@for $i from 1 through $columns {
  .col-#{$i} {
    width: 100% / ($columns/$i);
    display: block;
    float: left;
    margin: 0;
   }
}

main{
	margin-left: 2%;
	margin-right: 2%;
}