.bregister{
	margin: 0;
	top: 200vh;
	attachment: fixed;
	z-index: -10;
	position: absolute;
	background-image: url("img/What-to-put-in-a-dog-crate.jpg");
	background-repeat: no-repeat;
	background-position: 10% 80%;
}
.register{
	margin-top: 0;
	margin-left: 10%;
	width: 80%;
}	
