.map{
	position: absolute;
	height: 80vh;
	width:  96vw;
}

.placeholderErrorMessage{
	color: red;
	background-color: rgba(255,0,0,0.1);
	text-align: center;
}

#warning{
	background-color:  transparent;
	margin-left: 1%;
	color: #345f89;
	color: red;
	padding: 6px;
	padding: 0;
	width: 98%;
	text-align: center;
}

.placeholderMap{
		width: 100%;
		height: 40%;
		background-color: white;
		z-index: 2;
		position: absolute;
		top: 40%;
		border-top: solid 2px $blauw;
	}

@media screen and (min-width:700px){
	.map{
		width: 96%;
		height: 70%;

	}
	.placeholderMap{
		width: 96%;
		background-color: white;
		z-index: 2;
		position: absolute;
		top: 54.66%;
	}
}